#logs
*.log
log.txt
src/jules-v6.0/.fcm-make/log*


#Sources in build
build/*.f90
build/*.F90

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#documents
doc/html/*
doc/src/*
doc/src
src/PREP-CHEM-SRC-1.8.3/doc/

#Makes e status
build/Make_utils
build/Makefile
build/config.status
build/brams-6.0
build/brams-7.0

*.pyc
Python/__*
